<ion-header>
  <ion-navbar>
    <ion-title>Productos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let product of products" (click)="itemClicked($event, product)">
      <ion-avatar item-left>
        <img src="{{product.image_url}}">
      </ion-avatar>
 
      <h2>{{product.name | uppercase }}</h2>
      <h3>{{product.price_3}}</h3>    
      <button ion-button item-right color="success" (click)="buttonClick($event, product)">Comprar</button>
 
    </ion-item>

    <!-- <ion-card *ngFor="let product of products" (click)="itemClicked($event, product)">
      <img src="{{product.image_url}}"/>
      <ion-card-content>
        <ion-card-title>
          {{product.name | uppercase }}
        </ion-card-title>
        <p>
          {{product.price_3}}
        </p>
        <button ion-button item-right color="success" (click)="buttonClick($event, product)">Comprar</button>
      </ion-card-content>
    </ion-card>
  -->
  </ion-list>
</ion-content>
